<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.module_a">

    <!--library使用-->
    <application>
        <activity android:name=".AMainActivity" />
        <activity android:name="debug.SecondActivity" />
        <activity android:name=".arouter.ARouterOneActivity" />
        <activity android:name=".arouter.ARouterTwoActivity" />
    </application>

</manifest>